#StoreLocator {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 92vh;
  width: 92vw;
  min-height: 600px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 4vh;

  @include respond-to('medium') {
    flex-direction: row;
  }
}
