#mapContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  height: 100%;
  position: relative;
  @include respond-to("medium") {
    flex-basis: 100%;
    order: 2;
    position: relative;
  }
}

#mapWrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
