.button {
  color: $text-color;
  margin: 6px 0;
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  height: 32px;
  padding: 0 12px;
  border: 1px solid $light-grey;
  font: inherit;
  list-style: none;
  outline: 0;
  overflow: visible;
  vertical-align: baseline;
  background: white;

  &:hover {
    border-color: $light-grey;
    background-color: $lighter-grey;
  }
}

 button {
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
    position: relative;
  }
