#chatContainer {
  .chatbot-header {
    background-color: $brand-color;
    color: rgba(255, 255, 255, 0.87);
    padding: 5px 10px 5px 15px;
    text-align: left;
    flex-grow: 0;
    flex-shrink: 0;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      flex: 1;
      font-weight: 600;
    }

    &__minimize {
      width: 26px;
      height: 26px;
      position: relative;
      background: url(https://images.woosmap.com/directions/close.png) center / 24px 24px no-repeat;
      cursor: pointer;
    }
  }
}

.chatWrapper {
  z-index: 3;
  position: fixed;
  bottom: 70px;
  right: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px #0000004d;

  &__hidden {
    display: none;
  }

  &.animation-scale-in {
    animation: scale-in 0.2s ease-in-out forwards, fade-in 0.2s ease-in-out forwards;
    transform-origin: bottom right;
  }

  &.animation-scale-out {
    animation: scale-out 0.2s ease-in-out forwards, fade-out 0.2s ease-in-out forwards;
    transform-origin: bottom right;
  }
}

.botButton {
  z-index: 3;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #F5F5F5;
  box-shadow: 0 0 10px #0000004d;

  &__avatar {
    height: 48px;
    width: 48px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;

    &::before {
      content: "";
      display: block;
      width: 65%;
      height: 65%;
      margin: 20%;
      background-image: url("../assets/ai-bot.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__hidden {
    display: none;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* bubble slide out */
@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}