#searchContainer {
  display: flex;
  position: relative;
  box-shadow: none;
  width: 100%;
  flex-shrink: 0;
  z-index: 1;
  padding: 10px 0;
  background-color: $brand-color;

  #searchWrapper {
    flex-direction: column;
    display: flex;
    padding: 0 1.3rem;
    flex: 1;
    position: relative;
    justify-content: space-between;
  }
}

.search {
  &__input {
    height: 48px;
    width: 100%;
    border: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 96px;
    padding-left: 10px;
    font-size: 16px !important;
    border-bottom-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    transition-property: all;
    transition-duration: 0.5s;
  }

  &__clearBtn, &__searchBtn, &__geolocateBtn {
    position: absolute;
    top: 0;
    z-index: 2;

    button {
      background: transparent;
      border: 0;
      border-radius: 0;
      font: inherit;
      list-style: none;
      margin: 0;
      outline: 0;
      overflow: visible;
      vertical-align: baseline;
      pointer-events: auto;
      padding: 12px;
      display: block;

      &:before {
        content: "";
        display: block;
        background-color: white;
        background-size: cover;
        width: 24px;
        height: 24px;
        z-index: 1;
        cursor: pointer;
      }
    }
  }

  &__clearBtn {
    right: 0;
    z-index: 3;

    button:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='m6.4 19.2-1.6-1.6 5.6-5.6-5.6-5.6 1.6-1.6 5.6 5.6 5.6-5.6 1.6 1.6-5.6 5.6 5.6 5.6-1.6 1.6-5.6-5.6Z' fill='%233C4043' /%3E%3C/svg%3E");
    }
  }

  &__geolocateBtn {
    right: 0;

    button:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235F6369' viewBox='0 0 24 24'%0A%3E%3Cpath d='M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z'%3E%3C/path%3E%3C/svg%3E");
    }

    &.active {
      button:before {
        background-image: url("../assets/loader.svg");
      }
    }
  }

  &__searchBtn {
    right: 48px;

    button:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='m19.6 21-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5 7.625 5 6.312 6.312 5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z' fill='%235F6369' /%3E%3C/svg%3E");
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 10px;
      border-left: 1px solid $light-grey;
      height: 28px;
    }
  }
}


// override/customize some of woosmap.localities-widget class.
.localities-input-wrapper,
.localities-input-container {
  width: 100%;
  position: relative;
}

.localities-item {
  padding: 8px 8px 8px 30px;
  cursor: pointer;
  font-size: 16px;
}

.localities-item-query {
  font-size: 16px;
}

.localities-icon {
  top: 8px;
}

.localities-empty-button {
  right: 12px;
  width: 24px;
  background-color: #fff;
  z-index: 1;
  margin-top: 0;
  height: 42px;
}

.localities-container {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 6px 6px;
  margin-top: -3px;
}

.localities-container li:last-child {
  border-radius: 0 0 6px 6px;
}
