#detailsStoreContainer {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: white;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .detailsStore {
    vertical-align: middle;
    line-height: 2em;
    padding: 0.8rem 1.4rem;

    &__name {
      font-size: 1.6rem;
    }

    &__listItems {
      margin-top: 1.5rem;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: .5rem;
      }

      ul li {
        display: flex;
        flex: 1;
        line-height: 24px;
        padding: 5px 0;
        justify-content: space-between;
        max-width: 280px;

        img {
          width: 100%;
        }
      }
    }

    &__headerList {
      border-bottom: 1px solid rgba(0, 0, 0, .25);
      padding: 0.5rem 0 0.2rem;
      line-height: 20px;
      font-size: .95rem;
      opacity: .68;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__types {
      opacity: .55;
    }

    &__address {
      line-height: 1.6rem;
      @include link-image("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z'/%3E%3Ccircle cx='12' cy='9' r='2.5'/%3E%3C/svg%3E")
    }

    &__opening, .currentDay {
      font-weight: 600;
    }

    &__services {
      display: grid !important;
      grid-column-gap: 2%;
      grid-template-columns: repeat(2, 1fr);

      .serviceName {
        flex-grow: 1
      }


    }

  }

}
