#detailsStoreContainer {
  overflow: auto;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: white;
  height: 100%;
  display: none;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .detailsStore {
    vertical-align: middle;
    line-height: 2em;

    &__content {
      padding: 0 1rem;
    }

    &__thumbnail {
      display: none;
      position: relative;
      padding-top: 60%;

      @include respond-to("medium") {
        display: block;
      }
    }

    &__thumbnailImg {
      display: inline-block;
      width: 100%;
      height: auto;
      background-color: $lighter-grey;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/default.jpg");
    }

    &__actions {
      display: flex;
      flex: none;
      align-items: flex-start;
      z-index: 2;
      box-sizing: border-box;
      width: 100%;
      padding-top: .4rem;

      & button {
        margin-right: 5px;
      }
    }

    &__name {
      font-size: 1.6rem;
      padding-top: .8rem;
    }

    &__listItems {
      padding-top: .4rem;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: 0.5rem;
      }

      ul li {
        display: flex;
        flex: 1;
        line-height: 24px;
        padding: 5px 0;
        justify-content: space-between;
        max-width: 280px;

        img {
          width: 100%;
        }
      }
    }

    &__headerList {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding: 0.5rem 0 0.2rem;
      line-height: 20px;
      font-size: 0.875rem;
      letter-spacing: .01em;
      opacity: 0.55;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__types {
      opacity: 0.55;
    }

    &__address {
      line-height: 1.6rem;
    }

    &__opening,
    .currentDay {
      font-weight: 600;
    }

    &__services {
      display: grid !important;
      grid-column-gap: 2%;
      grid-template-columns: repeat(2, 1fr);

      .serviceName {
        flex-grow: 1;
      }
    }
  }
}
