#listStoresContainer {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  flex-direction: column;
  background: white;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .summaryStore {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &:hover {
      background: $lighter-grey;
    }

    &__name {
      font-weight: bold;
      line-height: 1.5em;
    }

    &__address {
      color: $dark-grey;
      line-height: 1.5em;
    }

    &__empty {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 1rem;
    }
  }
}
