#listStoresContainer {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  flex-direction: column;
  background: white;


  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.active {
    &:before {
      z-index: 1;
      content: "";
      width: 100%;
      height: 14px;
      position: absolute;
      box-shadow: inset 0 14px 10px -10px rgb(60 64 67 / 28%);
    }
  }

  .summaryStore {
    font-size: 1rem;
    padding: .8rem 1.3rem;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, .08);

    &:hover {
      background: $lighter-grey;
    }

    &__name {
      font-weight: bold;
      line-height: 1.5em;
    }

    &__address {
      color: $dark-grey;
      line-height: 1.5em;
    }
  }
}
